<h2 class = "page-header">Login</h2>
<form (submit) = "onLoginSubmit()">
    <div class = "form-group">
        <label>Email</label>
        <input  [(ngModel)] = "email" name = "email" type="text" class = "form-control"/>
    </div>
    
    <div class = "form-group">
        <label>Password</label>
        <input [(ngModel)] = "password" name = "password" type="password" class = "form-control" />
    </div>
    
    <input type="submit" class = "btn btn-primary" value="Login"/>
    
    <form (submit) = "onResendVerification()">
        <br/>
         <input *ngIf = "reS" type="submit" class = "btn btn-primary" value="Re-Send Verification Email"/>   
    </form>

</form>

<!--<h2 class = "page-header">Login</h2>-->
<!--<form>-->
<!--<div *ngIf="loginVisible">-->
<!--    <h2>Login Page</h2>-->
<!--    <p>Username:</p>-->
<!--    <input type="text" id="username"/>-->
<!--    <br>-->
<!--    <p>Password:</p>-->
<!--    <input type="password" id="password"/>-->
<!--    <br><br>-->
<!--    <button (click)="loginButton()" #loginBtn>Login</button>-->
<!--    <button (click)="registerButton()" #registerBtn>Register</button>-->
<!--</div>-->

<!--<div *ngIf="registerVisible">-->
<!--    <h2>Register</h2>-->
<!--    <p>Enter your email (username):</p>-->
<!--    <input type="text" #newUsername/>-->
<!--    <br>-->
<!--    <p>Enter your password:</p>-->
<!--    <input type="password" #newPassword/>-->
<!--    <br><br>-->
<!--    <button (click)="confirmButton()" #confirmRegBtn>Confirm</button>-->
<!--</div>-->
<!--</form>-->
